<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>express js</title>
  <link href="./style.css" rel="stylesheet" />
</head>
<body>   
  <h1 style="color: #e63946">Basic Express js</h1><br/>
  <table>
    <tr>
      <th>Data</th>
      <th>Api's</th>
    </tr>
    <tr>
      <td>Sample</td>
      <td><a href="/api/json">click here</a></td>
    </tr>
    <tr>
      <td>Super Market</td>
      <td><a href="/api/supermarket">click here</a></td>
    </tr>
    <tr>
      <td>Dress Store</td>
      <td><a href="/api/dressstore">click here</a></td>
    </tr>
  </table>
  <table>
    <tr>
      <th>Super Market</th>
      <th>Departments</th>
    </tr>
    <tr>
      <td>Grocery</td>
      <td><a href="/api/supermarket/departments/1">click here</a></td>
    </tr>
    <tr>
      <td>Produce</td>
      <td><a href="/api/supermarket/departments/2">click here</a></td>
    </tr>
  </table>
  <table>
    <tr>
      <th>Dress Store</th>
      <th>Categories</th>
    </tr>
    <tr>
      <td>Casual Dresses</td>
      <td><a href="/api/dressstore/categories/1">click here</a></td>
    </tr>
    <tr>
      <td>Formal Dresses</td>
      <td><a href="/api/dressstore/categories/1">click here</a></td>
    </tr>
    <tr>
      <td>Accessories</td>
      <td><a href="/api/dressstore/categories/1">click here</a></td>
    </tr>
  </table>
  <table>
    <tr>
      <th>login page</th>
      <th>sites url</th>
    </tr>
    <tr>
      <td>Tradition Page</td>
      <td><a href="/traditionlogin">click here</a></td>
    </tr>
    <tr>
      <td>Javascript Page</td>
      <td><a href="/jslogin">click here</a></td>
    </tr>
  </table>
</body>
</html>
