<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <div class="form-container">
            <form action="/login" method="POST">
              <h2>Traditional Login</h2>
              <input type="text" name="username" placeholder="username" />
              <button type="submit">Submit</button>
            </form>
          </div>
    </body>
    <script></script>
</html>